<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragment/head::head"></head>
<body>
<div class="page-container">
    <header th:replace="fragment/header::header"></header>
    <main class="content-wrap">
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Task</span></h1>
        <hr class="hr-3 w-25 bg-white"/>
        <form class="mx-auto w-25 bg-blur" method="post" th:action="@{/task/add}"
              th:object="${taskAddBindingModel}">
            <div class="form-group">
                <div class="label-holder textCol d-flex justify-content-center">
                    <label for="name" class="h4 mb-2">Name</label>
                </div>
                <input th:field="*{name}" th:value="*{name}" th:errorclass="bg-danger" type="text" class="form-control" id="name" name="name"/>
                <small th:each="error:${#fields.errors('name')}" th:text="${error}" class="text-danger">Name error message</small>
            </div>
            <div class="form-group">
                <div class="label-holder textCol d-flex justify-content-center">
                    <label for="description" class="h4 mb-2">Description</label>
                </div>
                <input th:field="*{description}" th:value="*{description}" th:errorclass="bg-danger" type="text" class="form-control"
                       id="description" name="description"/>
                <small th:each="error:${#fields.errors('description')}" th:text="${error}" class="text-danger">Description error message</small>
            </div>
            <div class="form-group">
                <div class="label-holder  textCol d-flex justify-content-center">
                    <label for="dueDate" class="h4 mb-2">Due Date</label>
                </div>
                <input th:field="*{dueDate}" th:value="*{dueDate}" th:errorclass="bg-danger" type="date" class="form-control" id="dueDate"
                       name="dueDate"/>
                <small th:each="error:${#fields.errors('dueDate')}" th:text="${error}" class="text-danger">Date error message</small>
            </div>
            <div class="form-group">
                <div class="label-holder  textCol d-flex justify-content-center">
                    <label for="classification" class="h4 mb-2">Classification</label>
                </div>
                <select th:field="*{classification}" type="text" class="form-control" id="classification" name="classification">
                    <option value="">Select Classification</option>
                    <option th:each="clf : ${T(bg.softuni.gira.model.entity.enumerated.ClassificationName).values()}"
                            th:text="${clf}" th:value="${clf}"></option>
                </select>
                <small th:each="error:${#fields.errors('classification')}" th:text="${error}" class="text-danger">Classification error message</small>
            </div>

            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="button btn-warning  mb-3" value="Register">Add Task</button>
            </div>
        </form>
    </main>
    <footer th:replace="fragment/footer::footer"></footer>
</div>
</body>
</html>